<clr-modal [clrModalSize]="'lg'" [(clrModalOpen)]="isModalOpened">
  <h3 class="modal-title">Interfaces - {{ vswitchLabel }}</h3>
  <div class="modal-body">
    <h4>Local</h4>
    <clr-datagrid *ngIf="interfaces.length">
      <clr-dg-column [clrDgSortBy]="'name'">Name</clr-dg-column>
      <clr-dg-column [clrDgSortBy]="'IP'">IP</clr-dg-column>
      <clr-dg-column [clrDgSortBy]="'MAC'">MAC</clr-dg-column>

      <clr-dg-row *clrDgItems="let interface of interfaces">
        <clr-dg-cell>{{interface.name}}</clr-dg-cell>
        <clr-dg-cell>{{interface.IP}}</clr-dg-cell>
        <clr-dg-cell>{{interface.MAC}}</clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>

    <h4>VXLANs</h4>
    <clr-datagrid *ngIf="tunnels.length">
      <clr-dg-column [clrDgSortBy]="'name'">Name</clr-dg-column>
      <clr-dg-column [clrDgSortBy]="'srcIP'">Source IP</clr-dg-column>
      <clr-dg-column [clrDgSortBy]="'dstIP'">Destination IP</clr-dg-column>

      <clr-dg-row *clrDgItems="let tunnel of tunnels">
        <clr-dg-cell>{{tunnel.name}}</clr-dg-cell>
        <clr-dg-cell>{{tunnel.srcIP}}</clr-dg-cell>
        <clr-dg-cell>{{tunnel.dstIP}}</clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="isModalOpened = false">Close</button>
  </div>
</clr-modal>
