apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: nginx-server
spec:
  replicas: 10
  template:
    metadata:
      labels:
        # ldpreload-related labels
        ldpreload: "true"
    spec:
      containers:
        - name: server
          imagePullPolicy: IfNotPresent
          image: nginx
          ports:
            - containerPort: 80
          securityContext:
            privileged: true
          env:
            # ldpreload-related env vars
            - name: VCL_APP_SCOPE_GLOBAL
              value: ""
            - name: VCL_APP_SCOPE_LOCAL
              value: ""
