glide.lock
.idea/*
.DS_Store
cmd/contiv-agent/contiv-agent
cmd/contiv-cni/contiv-cni
cmd/contiv-ksr/contiv-ksr
cmd/contiv-init/contiv-init
cmd/contiv-stn/contiv-stn
cmd/contiv-crd/contiv-crd
cmd/tools/ldpreload-label-injector/ldpreload-label-injector
vagrant/images.tar
vagrant/dev-contiv-vswitch.tar
.vagrant
.vagrant-state
