.slider-wrap {
    margin-top: 10px;
}

.slider {
    -webkit-appearance: none;
    height: 18px;
    border-radius: 10px;
    background-color: #ffffff;
    outline: none;
    transition: background-color 0.2s linear;
    padding-left: 2px;
    padding-right: 2px;
}

.slider.disabled {
    background-color: #777777;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #000000;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #000000;
    cursor: pointer;
}
