body {
  background-color: #17242b;
}

.datagrid {
  overflow-x: hidden;
}

.datagrid, .datagrid-head, .datagrid-placeholder {
  border: 0 !important;
}

.datagrid button:focus {
  outline: 0 !important;
}

clr-dropdown:focus, .btn:focus, clr-icon:focus {
  outline: 0;
}

.spinner-wrap {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.sidepanel {
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateX(500px);
  transition: transform 0.3s linear;
  border-left: 1px solid #485764;
  background-color: #17242b;
}

.sidepanel.opened {
  transform: translateX(0);
}

.wrap {
  padding: 30px 15px 0 15px;
}

#kubernetes-sp .wrap {
  padding: 5px 15px 0 15px;
}

.clr-input {
  width: 190px !important;
}

.btn-wrap .clr-form-control, .btn-wrap .clr-control-container, .btn-wrap .clr-select-wrapper, .btn-wrap .clr-select {
  width: 100% !important;
}

.datagrid-wrap .datagrid {
  margin-top: 0 !important;
}

.topo-heading {
  position: absolute;
  top: 0;
  left: 0;
}

#pod-network #pod-list {
  margin-top: 17px;
}

.datagrid-row-flex {
  align-items: center !important;
}

.datagrid-body {
  min-height: 34px !important;
}

#bridge-domain-sp h5 {
  margin-top: 0;
}

#bridge-domain-sp form {
  padding-top: 0;
}

.terminal-modal .modal-dialog {
  width: 85% !important;
}

.clr-form-control:first-child {
  margin-top: 0 !important;
}

.card {
  margin-top: 0.5rem !important;
}

#bridge-domain-sp .card-header {
  font-size: 17px !important;
  font-weight: 400 !important;
  padding: 7px 0.75rem !important;
}

a, button {
  user-select: none;
}

.dropdown-menu {
  padding: 2px 0 !important;
}

.dropdown-header {
  padding: 7px 0.5rem !important;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
