#wrap {
  width: 100%;
  height: calc(100% - 96px);
  position: absolute;
  overflow: hidden;
}

clr-dropdown {
  position: absolute !important;
  top: 0;
  right: 510px;
  transition: right 0.3s linear;
}

clr-dropdown.spClosed {
  right: 0;
}

.nav, .subnav {
  box-shadow: none !important;
}
