.spinner-wrap {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

#wrap {
  width: 100%;
  height: calc(100% - 96px);
  position: absolute;
  overflow: hidden;
}

.grid-wrap {
  padding: 0 30px 0 30px;
}

.endpoints-table {
  width: 100%;
}

.endpoints-wrap {
  opacity: 0;
  transition: opacity 0.3s linear;
}

.endpoints-wrap.active {
  opacity: 1;
}

clr-dropdown {
  position: absolute !important;
  top: 0;
  right: 0;
}

.endpoints-table clr-datagrid {
  display: inline-block;
  width: 70%;
}

.topo-table .endpoints-table clr-datagrid {
  display: block;
  width: 100%;
}

.btn-wrap {
  display: inline-block;
  width: 30%;
  text-align: center;
}

.topo-table .btn-wrap {
  display: none;
}

.topo-table {
  position: absolute;
  width: 70%;
}

.clickable {
  cursor: pointer;
}

.btn-exit {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 110px;
}

.btn-vpp-state {
  margin: 0 !important;
  padding: 0 !important;
}

.inner-div {
  margin: 3px 0;
}
