<div id="wrap" [ngClass]="{'topo': shownTopology}">
  <clr-dropdown>
    <button type="button" class="btn btn-link" clrDropdownTrigger [disabled]="!services.length">
        {{ selectedService ? selectedService.name : showAllServices ? 'All' : 'Select K8S Service' }}
        <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <button type="button"
                clrDropdownItem
                (click)="selectService(-1)">All</button>
        <button *ngFor="let service of services; let i = index"
                type="button"
                clrDropdownItem
                (click)="selectService(i)">{{ service.name }}</button>
    </clr-dropdown-menu>
  </clr-dropdown>

  <div class="grid-wrap" *ngIf="services.length && showAllServices">
    <h2>&nbsp;</h2>
    <clr-datagrid>
      <clr-dg-column>Name</clr-dg-column>
      <clr-dg-column>Namespace</clr-dg-column>
      <clr-dg-column>Labels</clr-dg-column>
      <clr-dg-column>Selector</clr-dg-column>
      <clr-dg-column>Cluster IP</clr-dg-column>
      <clr-dg-column>Name</clr-dg-column>
      <clr-dg-column>Protocol</clr-dg-column>
      <clr-dg-column>Port</clr-dg-column>
      <clr-dg-column>Target Port</clr-dg-column>
      <clr-dg-column>Node Port</clr-dg-column>
      <clr-dg-column>Creation Timestamp</clr-dg-column>
      <clr-dg-column>Show Endpoints</clr-dg-column>

      <clr-dg-row *clrDgItems="let service of services; let i = index" (dblclick)="selectService(i)">
        <clr-dg-cell>{{service.name}}</clr-dg-cell>
        <clr-dg-cell>{{service.namespace}}</clr-dg-cell>
        <clr-dg-cell>
          <div class="inner-div" *ngFor="let label of service.labels">
            {{ label.key }}: {{ label.value }}
          </div>
        </clr-dg-cell>
        <clr-dg-cell>
          <div class="inner-div" *ngFor="let selector of service.selectors">
            {{ selector.key }}: {{ selector.value }}
          </div>
        </clr-dg-cell>
        <clr-dg-cell>{{service.clusterIp}}</clr-dg-cell>
        <clr-dg-cell>
          <div class="inner-div" *ngFor="let port of service.ports">
            {{ port.name }}
          </div>
        </clr-dg-cell>
        <clr-dg-cell>
          <div class="inner-div" *ngFor="let port of service.ports">
            {{ port.protocol }}
          </div>
        </clr-dg-cell>
        <clr-dg-cell>
          <div class="inner-div" *ngFor="let port of service.ports">
            {{ port.port }}
          </div>
        </clr-dg-cell>
        <clr-dg-cell>
          <div class="inner-div" *ngFor="let port of service.ports">
            {{ port.targetPort }}
          </div>
        </clr-dg-cell>
        <clr-dg-cell>
          <div class="inner-div" *ngFor="let port of service.ports">
            {{ port.nodePort }}
          </div>
        </clr-dg-cell>
        <clr-dg-cell>{{service.timestamp}}</clr-dg-cell>
        <clr-dg-cell>
          <div class="toggle-switch">
            <input type="checkbox" id="toggle-{{i}}" disabled>
            <label for="toggle-{{i}}"></label>
          </div>
        </clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
  </div>

  <div *ngIf="selectedService && !shownTopology" class="grid-wrap">
    <h2>Service: {{selectedService.name}}</h2>
    <clr-datagrid>
      <clr-dg-column>Name</clr-dg-column>
      <clr-dg-column>Namespace</clr-dg-column>
      <clr-dg-column>Labels</clr-dg-column>
      <clr-dg-column>Selector</clr-dg-column>
      <clr-dg-column>Cluster IP</clr-dg-column>
      <clr-dg-column>Name</clr-dg-column>
      <clr-dg-column>Protocol</clr-dg-column>
      <clr-dg-column>Port</clr-dg-column>
      <clr-dg-column>Target Port</clr-dg-column>
      <clr-dg-column>Node Port</clr-dg-column>
      <clr-dg-column>Creation Timestamp</clr-dg-column>
      <clr-dg-column>Show Endpoints</clr-dg-column>

      <clr-dg-row>
        <clr-dg-cell>{{selectedService.name}}</clr-dg-cell>
        <clr-dg-cell>{{selectedService.namespace}}</clr-dg-cell>
        <clr-dg-cell>
          <div class="inner-div" *ngFor="let label of selectedService.labels">
            {{ label.key }}: {{ label.value }}
          </div>
        </clr-dg-cell>
        <clr-dg-cell>
          <div class="inner-div" *ngFor="let selector of selectedService.selectors">
            {{ selector.key }}: {{ selector.value }}
          </div>
        </clr-dg-cell>
        <clr-dg-cell>{{selectedService.clusterIp}}</clr-dg-cell>
        <clr-dg-cell>
          <div class="inner-div" *ngFor="let port of selectedService.ports">
            {{ port.name }}
          </div>
        </clr-dg-cell>
        <clr-dg-cell>
          <div class="inner-div" *ngFor="let port of selectedService.ports">
            {{ port.protocol }}
          </div>
        </clr-dg-cell>
        <clr-dg-cell>
          <div class="inner-div" *ngFor="let port of selectedService.ports">
            {{ port.port }}
          </div>
        </clr-dg-cell>
        <clr-dg-cell>
          <div class="inner-div" *ngFor="let port of selectedService.ports">
            {{ port.targetPort }}
          </div>
        </clr-dg-cell>
        <clr-dg-cell>
          <div class="inner-div" *ngFor="let port of selectedService.ports">
            {{ port.nodePort }}
          </div>
        </clr-dg-cell>
        <clr-dg-cell>{{selectedService.timestamp}}</clr-dg-cell>
        <clr-dg-cell>
          <div class="toggle-switch">
            <input type="checkbox" id="toggle" [(ngModel)]="shownEndpoints">
            <label for="toggle"></label>
          </div>
        </clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
  </div>

  <div [ngClass]="{'topo-table': shownTopology, 'active': shownEndpoints}" class="grid-wrap endpoints-wrap" *ngIf="selectedEndpoint">
    <div class="endpoints-table">
      <h2>
        {{ shownTopology && selectedService ? selectedService.name + ' Service Endpoints' : 'Endpoints' }}
        {{ selectedEndpoint.subsets ? '' : '- NOT found'}}
      </h2>
      <clr-datagrid *ngIf="shownEndpoints && selectedEndpoint.subsets && selectedEndpoint.subsets.length">
        <clr-dg-column>Pod Name</clr-dg-column>
        <clr-dg-column>Namespace</clr-dg-column>
        <clr-dg-column>Pod IP</clr-dg-column>
        <clr-dg-column>Host Name</clr-dg-column>
        <clr-dg-column>Host IP</clr-dg-column>
        <clr-dg-column>Labels</clr-dg-column>
        <clr-dg-column>Cluster IP</clr-dg-column>
        <clr-dg-column>Kind</clr-dg-column>
        <clr-dg-column>Show VPP State</clr-dg-column>

        <clr-dg-row *clrDgItems="let endpoint of selectedEndpoint.subsets[0].addresses" (dblclick)="highlightEndpoint(endpoint.podName)" class="clickable">
          <clr-dg-cell>{{endpoint.podName}}</clr-dg-cell>
          <clr-dg-cell>{{endpoint.namespace}}</clr-dg-cell>
          <clr-dg-cell>{{endpoint.podIp}}</clr-dg-cell>
          <clr-dg-cell>{{endpoint.nodeName}}</clr-dg-cell>
          <clr-dg-cell>{{getHostIp(endpoint.nodeName)}}</clr-dg-cell>
          <clr-dg-cell>
            <div class="inner-div" *ngFor="let label of selectedEndpoint.labels">
              {{ label.key }}: {{ label.value }}
            </div>
          </clr-dg-cell>
          <clr-dg-cell>{{selectedService.clusterIp}}</clr-dg-cell>
          <clr-dg-cell>{{endpoint.kind}}</clr-dg-cell>
          <clr-dg-cell>
            <button class="btn btn-link btn-vpp-state" (click)="showVppState(endpoint.nodeName)" [disabled]="!endpoint.nodeName">Show VPP State</button>
          </clr-dg-cell>
        </clr-dg-row>
      </clr-datagrid>

      <span class="btn-wrap" *ngIf="shownEndpoints && selectedEndpoint.subsets && selectedEndpoint.subsets.length">
        <button class="btn" (click)="showTopology()">Show Pod Endpoints Topology</button>
      </span>
    </div>
  </div>

  <app-topology-viz *ngIf="shownTopology"
                    [hasLayers]="false"
                    [svgTransform]="svgTransform"
                    (nodeClicked)="onNodeClicked($event)"
                    (svgClicked)="onSvgClicked($event)"
                    (topologyRendered)="onRender($event)">
  </app-topology-viz>

  <button class="btn btn-exit" [ngClass]="{'hidden': !shownTopology}" (click)="hideTopology()">Exit</button>
</div>
