<div id="wrap">
  <clr-dropdown [ngClass]="{'spClosed': !isSidepanelOpen}">
    <button type="button" class="btn btn-link" clrDropdownTrigger>
      {{ layerTitle }}
      <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
      <h4 class="dropdown-header">Topology Views</h4>
      <button type="button"
              clrDropdownItem
              (click)="setK8sNodesLayer()"
              [ngClass]="{'active': activeLayers[0]}">K8s Nodes</button>
      <button type="button"
              clrDropdownItem
              (click)="setK8sNodesPodsLayer()"
              [ngClass]="{'active': activeLayers[1]}">K8s Nodes + Pods</button>
      <button type="button"
              clrDropdownItem
              (click)="setContivPodsLayer()"
              [ngClass]="{'active': activeLayers[2]}">Contiv Pods</button>
      <div class="dropdown-divider"></div>
      <h4 class="dropdown-header">Namespaces</h4>
      <button *ngFor="let namespace of namespaces; let i = index"
              type="button"
              clrDropdownItem
              (click)="highlightNamespace(namespace.name, i)"
              [ngClass]="{'active': highlightedNamespace[i]}">{{ namespace.name }}</button>
    </clr-dropdown-menu>
  </clr-dropdown>

  <app-topology-viz [hasLayers]="true"
                    (nodeClicked)="onNodeClicked($event)"
                    (nodeDblClicked)="onNodeDblClicked($event)"
                    (bviClicked)="onBviClicked($event)"
                    (linkClicked)="onLinkClicked($event)"
                    (svgClicked)="onSvgClicked()"
                    (transform)="onTransform($event)"
                    (topologyRendered)="onRender()"
                    (positionsChanged)="onPositionChange($event)">
  </app-topology-viz>


  <div class="sidepanel" id="kubernetes-sp" [ngClass]="{'opened': isSidepanelOpen}">
    <nav class="subnav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="nodes" routerLinkActive="active">Nodes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="pods" routerLinkActive="active">Pods</a>
        </li>
      </ul>
    </nav>
    <app-sidepanel (toggled)="toggleSidepanel($event)"></app-sidepanel>
  </div>
</div>
