<div id="wrap">
  <div class="vswitch-version">{{version}}</div>
  <div class="content">
    <h2 class="text-center">vSwitch name: {{ vswitchId }}</h2>

    <div class="datagrid-wrap">
      <div class="datagrid-label">Attached PODs</div>
      <clr-datagrid *ngIf="domain">
        <clr-dg-column [clrDgSortBy]="'name'">Name</clr-dg-column>
        <clr-dg-column [clrDgSortBy]="'podIp'">IP</clr-dg-column>
        <clr-dg-row *clrDgItems="let pod of domain.vppPods">
          <clr-dg-cell>{{ pod.name }}</clr-dg-cell>
          <clr-dg-cell>{{ pod.podIp }}</clr-dg-cell>
        </clr-dg-row>
      </clr-datagrid>
    </div>

    <div class="datagrid-wrap">
      <div class="datagrid-label">POD to vSwitch Interface</div>
      <clr-datagrid *ngIf="domain">
        <clr-dg-column [clrDgSortBy]="'internalName'">Name</clr-dg-column>
        <clr-dg-column [clrDgSortBy]="'IPS'">IP</clr-dg-column>
        <clr-dg-column [clrDgSortBy]="'vrf'">VRF</clr-dg-column>
        <clr-dg-row *clrDgItems="let tap of taps">
          <clr-dg-cell>{{ tap.internalName }}</clr-dg-cell>
          <clr-dg-cell>{{ tap.IPS }}</clr-dg-cell>
          <clr-dg-cell>{{ tap.vrf }}</clr-dg-cell>
        </clr-dg-row>
      </clr-datagrid>
    </div>

    <div class="datagrid-wrap">
      <div class="datagrid-label">Bridge Virtual Interface</div>
      <clr-datagrid *ngIf="bvi">
        <clr-dg-column>IP</clr-dg-column>
        <clr-dg-column>Bridge Domain</clr-dg-column>
        <clr-dg-column>VRF</clr-dg-column>
        <clr-dg-row *clrDgItems="let bd of domain.bd">
          <clr-dg-cell>{{ bvi.IPS }}</clr-dg-cell>
          <clr-dg-cell>{{ bd.key }}</clr-dg-cell>
          <clr-dg-cell>{{ bvi.vrf }}</clr-dg-cell>
        </clr-dg-row>
      </clr-datagrid>
    </div>

    <div class="datagrid-wrap">
      <div class="datagrid-label">VXLAN Tunnels</div>
      <clr-datagrid *ngIf="vxlans">
        <clr-dg-column [clrDgSortBy]="'name'">VXLAN</clr-dg-column>
        <clr-dg-column>Bridge Domain</clr-dg-column>
        <clr-dg-column [clrDgSortBy]="'srcIP'">Source IP</clr-dg-column>
        <clr-dg-column [clrDgSortBy]="'dstIP'">Destination IP</clr-dg-column>
        <clr-dg-row *clrDgItems="let vxlan of vxlans">
          <clr-dg-cell>{{ vxlan.name }}</clr-dg-cell>
          <clr-dg-cell>{{ domain.bd[0].key }}</clr-dg-cell>
          <clr-dg-cell>{{ vxlan.srcIP }}</clr-dg-cell>
          <clr-dg-cell>{{ vxlan.dstIP }}</clr-dg-cell>
        </clr-dg-row>
      </clr-datagrid>
    </div>

    <div class="datagrid-wrap">
      <div class="datagrid-label">vSwitch to NIC</div>
      <clr-datagrid *ngIf="nic">
        <clr-dg-column>Name</clr-dg-column>
        <clr-dg-column>IP</clr-dg-column>
        <clr-dg-row>
          <clr-dg-cell>{{ nic.name }}</clr-dg-cell>
          <clr-dg-column>{{ nic.IPS }}</clr-dg-column>
        </clr-dg-row>
      </clr-datagrid>
    </div>
  </div>

  <div class="sidepanel" [ngClass]="{'opened': isSidepanelOpen}">
    <app-sidepanel (toggled)="toggleSidepanel($event)"></app-sidepanel>
  </div>
</div>
