<header class="header clr-justify-content-center">
  <div class="branding clr-justify-content-center">
    <a routerLink="/" class="nav-link">
      <span class="title">Contiv VPP</span>
    </a>
</div>
</header>

<nav class="subnav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="kubernetes" routerLinkActive="active">Kubernetes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="contiv" routerLinkActive="active">Contiv</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="bridge-domain" routerLinkActive="active">Bridge Domain</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="services" routerLinkActive="active">Services</a>
    </li>
  </ul>
  <div id="controls">
    <clr-icon shape="cog" size="20" (click)="openSettings()"></clr-icon>
  </div>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>

<clr-modal [clrModalSize]="'xl'" clrModalOpen="true" [clrModalClosable]="false" class="terminal-modal" [ngClass]="{'active': isWebTerminalOpened}">
  <div class="modal-body">
    <iframe id="terminal" src="http://localhost:8088/terminal"></iframe>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="isWebTerminalOpened = false">Close</button>
  </div>
</clr-modal>


<app-ip-mapping-modal></app-ip-mapping-modal>
<app-vswitch-interfaces-modal></app-vswitch-interfaces-modal>
<app-node-detail-modal></app-node-detail-modal>
<app-code-modal></app-code-modal>
<app-containers-modal></app-containers-modal>
<app-settings-modal></app-settings-modal>
